.score {
  &__title {
    font-size: 15px;
    color: black;
    margin: 20px 0 0 20px;
  }

  &__legend {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 115px;
    background: white;
    border-radius: 50%;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &_pourcentage {
      font-size: 26px;
      font-weight: 700;
    }

    &_text {
      color: #74798c;
      margin: 5px;
    }
  }
}
