@import '../../style/variables';

.health {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: $colorTertiary;
  box-shadow: 0 2px 4px 0 #00000005;

  &__illustration {
    height: 60px;
    width: 60px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &_value {
      font-size: 20px;
      font-weight: 700;
    }

    &_label {
      color: #74798c;
    }
  }
}
