@import '../../style/variables';

.header {
  background-color: $colorSecondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 4px 0 #00000040;

  &__logo {
    width: 25%;
  }

  &__mocked {
    color: white;
  }

  &__navigation {
    display: flex;
    width: 70%;
    padding: 0 50px ;
    justify-content: space-between;

    &_link {
      color: white;
      text-decoration: none;
      font-size: 24px;
    }
  }
}
