@import '../../style/variables';

.banner {
  display: flex;
  flex-direction: column;
  width: 117px;
  background-color: $colorSecondary;
  justify-content: space-around;

  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    &_icon {
      width: 64px;
      height: 64px;
      border-radius: 6px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__copyright {
    transform: rotate(-90deg);
    color: white;
    margin-bottom: 80px;
    white-space: nowrap;
    font-size: 12px;
  }
}
