.average {
  &__title {
    font-size: 15px;
    opacity: 0.5;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
  }

  &__tooltip {
    background: white;
    padding: 5px;
    width: 40px;
    height: 25px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
}
