@import '../../style/variables';

.home {
  padding: 20px 50px;
  &__welcome {
    &_name {
      color: $colorPrimary;
    }
  }

  &__charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
  }

  &__content {
    display: flex;
    gap: 20px;
  }

  &__health {
    height: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  &__score {
    background-color: $colorTertiary;
    border-radius: 5px;
    width: 30%;
    position: relative;
  }

  &__performance {
    background-color: $colorQuaternary;
    border-radius: 5px;
    width: 30%;
  }

  &__average {
    background-color: $colorPrimary;
    border-radius: 5px;
    position: relative;
    width: 30%;
  }

  &__activity {
    background-color: $colorTertiary;
    width: 100%;
    border-radius: 5px;
    height: 300px;
    padding: 30px;
  }
}
